/*
* {
  // make transparent link selection, adjust last value opacity 0 to 1.0
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  -webkit-touch-callout: none; // prevent callout to copy image, etc when tap to hold
  -webkit-text-size-adjust: none; // prevent webkit from resizing text to fit
  -webkit-user-select: none; // prevent copy paste, to allow, change 'none' to 'text'
  background-color: #E4E4E4;
  background-image: linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
  background-image: -webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
  background-image: -ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #A7A7A7),
    color-stop(.51, #E4E4E4)
  );
  background-attachment: fixed;
  font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

// Portrait layout (default)
#app {
  background: url(../images/logo.png) no-repeat center top; // 170px x 200px
  position: absolute; // position in the center of the screen
  left: 50%;
  top: 50%;
  height: 50px; // text area height
  width: 225px; // text area width
  text-align: center;
  padding: 180px 0 0 0; // image height is 200px (bottom 20px are overlapped with text)
  // offset vertical: half of image height and text area height
  // offset horizontal: half of text area width
  margin: -115px 0 0 -112px;
}

// Landscape layout (with min-width)
@media screen and (min-aspect-ratio: 1/1) and (min-width: 400px) {
  #app {
    background-position: left center;
    padding: 75px 0 75px 170px; // padding-top + padding-bottom + text area = image height
    // offset vertical: half of image height
    // offset horizontal: half of image width and text area width
    margin: -90px 0 0 -198px;
  }
}

h1 {
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  overflow: visible;
  padding: 0;
  text-align: center;
}

.event {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: #FFFFFF;
  font-size: 12px;
  margin: 0 30px;
  padding: 2px 0;
  &.listening {
    background-color: #333333;
    display: block;
  }
  &.received {
    background-color: #4B946A;
    display: none;
  }
}

@keyframes fade {
  from { opacity: 1.0; }
  50% { opacity: .4; }
  to { opacity: 1.0; }
}

@-webkit-keyframes fade {
  from { opacity: 1.0; }
  50% { opacity: .4; }
  to { opacity: 1.0; }
}

.blink {
  animation: fade 3000ms infinite;
  -webkit-animation: fade 3000ms infinite;
}
*/

$theme-color: #DB6283;
$theme-color-light: #FF8CAB;
$theme-color-light2: #EDB1C1;


/* kammy css by murotsu */
* {
  text-shadow: none;
}

// header color
.ui-bar-a,
.ui-page-theme-a .ui-bar-inherit,
html.ui-bar-a .ui-bar-inherit,
html .ui-body-a .ui-bar-inherit,
html body .ui-group-theme-a .ui-bar-inherit {
  background-color: $theme-color;
  color:#fff;

  .ui-title {
    font-size:130%;
    padding:10px 0;
  }
}

// navbar
.ui-navbar a {
  padding: 15px 0;
}

.ui-btn-active {
  border:none;
  background-color: $theme-color-light !important;
  text-shadow: none !important;
}

// catalog
.catalog-list {
  a {
    display:block;
    padding:0;
    line-height:0;

    img {
    }
  }
}

// detail photo
.photo-img {
  width:100%;
  vertical-align: bottom;
}

.photo-notes {
  height:30px;
  line-height:30px;
  padding:0 10px;
  font-size:85%;
  background: #333;
  color:#fff;
  opacity:0.7;
  border: solid 2px #fff;
  border-bottom: none;
  border-radius:5px 0 0 0;
  box-sizing:border-box;
  float: right;
  position: relative;
  top: -29px;
  right: -2px;
}

.photo-comment {
  margin: 0 0 20px;
  padding: 10px;
  font-size:116%;
  background: $theme-color;
  color:#fff;
  border-radius: 0 0 5px 5px;
}

.photo-description {
  margin: 0 0 20px;
  padding: 10px;
  font-size:116%;
  background: #f0f0f0;
  border-radius: 0 0 5px 5px;
}

// detail slider
.coise-slider {
  margin:0 0 20px;
  padding: 10px;
  background: #f0f0f0;
  border-radius: 5px;

  .sliaderItem {
     padding:0 0 20px;
  }

  span {
    font-weight:bold;
  }

  span:nth-child(1){
    float:left;
  }
  span:nth-child(2){
    float:right;
  }

  input[type="number"] {
    clear:both;
    display:none;
  }

  .ui-slider-track {
    clear:both;
    margin:0 15px;
    background: $theme-color-light2;
  }

  .ui-state-disabled {
    position:relative;
    top:17px;
    height: 0px;
    border: dotted 1px #ccc;

    .ui-btn.ui-slider-handle {
      background:#f00;
      border: none;
      box-shadow: none;
    }
  }
}

.ui-slider-switch {
  width: 100% !important;
}

// submit-btn
.submit-btn-box {
  padding: 5px 20px;
  font-size:116%;
  background: $theme-color;
  border-radius: 5px;
}
