#catalog_favorited{'data-role': 'page'}
  %div{'data-role': 'header', 'data-add-back-btn': "false"}
    %h1 Kammy
  %div{'data-role': 'content'}
    %select{'data-native-menu': 'false'}
      %option ロング
      %option セミロング
      %option ショート
      %option ベリーショート
    %div{'role': "main", class:'catalog-list'}
      .ui-grid-a
        .ui-block-a
  %div{'data-role': "footer", 'data-position': 'fixed'}
    %div{'data-role': "navbar"}
      %ul
        %li
          %a{href: '#catalog'}カタログ
        %li
          %a{class: 'ui-btn-active ui-state-persist'} お気に入り


  :javascript
    $(function(){
      $('.catalog-list a[href="#detail_favorited"]').click(function(){
        var photoSrc = $(this).find('img').attr('src');
        var params = { photoID: photoSrc };
        $('#detail_favorited').data('params', params);
      });
      $('#detail_favorited').on('pageshow', function(){
        var params = $('#detail_favorited').data('params');
        $('#detail_favorited #photo').attr('src', params.photoID);
      });
      $('#catalog_favorited').on('pageshow', function(){
        $('.photo-img').attr('src', ''); // 次回表示時のため直前のsrcを削除
      });
    });
