#detail_favorited{'data-role': 'page'}
  %div{'data-role': 'header', 'data-add-back-btn': "true"}
    %h1 Kammy(お気入り登録後)
  %div{'role': "main", class: "ui-content"}
    %img{src: 'images/hairstyles/1.jpg', style:'width:100%;'}
    ふんわりボブ☆
    %a{href:'#favorite-edit', class:'ui-btn'}お気に入り
  %div{'data-role': "footer", 'data-position': 'fixed'}
    footer
