#detail{'data-role': 'page'}
  %div{'data-role': 'header', 'data-add-back-btn': "true"}
    %h1 Kammy
  %div{'role': "main", class: "ui-content"}
    %img{src: 'images/hairstyles/1.jpg', style:'width:100%;'}
    ふんわりボブ☆
  %div{'data-role': "footer", 'data-position': 'fixed'}
    footer
