#detail{'data-role': 'page'}
  %div{'data-role': 'header', 'data-add-back-btn': "true"}
    %h1 カタログ写真詳細
  %div{'role': "main", 'data-role': 'content'}
    %img{src: '', class:'photo-img'}
    %div{class:'photo-comment'}
      ふんわりボブ☆
      %a#favorite-btn{href:'#favorite_edit', class:'ui-btn', 'data-icon': 'arrow-l'}お気に入り
