#favorite_edit{'data-role': 'page'}
  %div{'data-role': 'header', 'data-add-back-btn': "true"}
    %h1 Kammy
  %div{'role': "main", class: 'ui-content'}
    #relative-area.photo-image{style:'position:relative;height:400px;'}
      %img#photo{style:'width:100%;position:absolute;'}
    %button#clear-fav クリアする
    -#□はお気に入りポイント
    %p{class: 'photo-description'} 画像タップでお気に入りポイントを指定できます
    %form
      %div{class: 'ui-field-contain coise-slider'}
        %div{class: 'sliaderItem'}
          %span ボーイッシュ
          %span ガーリー
          %input{'type': 'range', 'min':'0', 'max':'2', 'step':'1', 'value':'1'}
        %div{class: 'sliaderItem'}
          %span クール
          %span カワイイ
          %input{'type': 'range', 'min':'0', 'max':'2', 'step':'1', 'value':'1'}
        %div{class: 'sliaderItem'}
          %span 知的
          %span ゆるふわ
          %input{'type': 'range', 'min':'0', 'max':'2', 'step':'1', 'value':'1'}
      %div{class:'submit-btn-box'}
        %a#save-fav{'href': '#catalog', class: 'ui-btn'}登録

  :javascript

    var favoriteEdit = {
      favoritePoints: [],
      /*protFavoritePosition: function() {
        var favoritePoints = JSON.parse(localStorage.getItem('favoritePoints'));

        favoritePoints.forEach(function(favPoint) {
          favoriteEdit.prot(favPoint);
        })
      },*/

      prot: function(favPoint) {
        $divObj = $("<div></div>");
        $divObj.css('width', 60);
        $divObj.css('height', 60);
        $divObj.css('border', 'solid 2px red');
        $divObj.css('position', 'absolute');
        $divObj.addClass('fav-point');
        $divObj.offset({top: favPoint.offsetTop, left: favPoint.offsetLeft});
        $("#favorite_edit #relative-area").append($divObj);
      },

      tapFavorite: function(event) {
        var areaOffset = $('#favorite_edit #photo').offset();
        var offsetTop = ((event.pageY)-(areaOffset.top));
        var offsetLeft = ((event.pageX)-(areaOffset.left));
        //var favoritePoints = JSON.parse(localStorage.getItem('favoritePoints'));
        //if (favoritePoints == null) favoritePoints = [];
        var favPoint = {offsetTop: offsetTop, offsetLeft: offsetLeft};
        favoriteEdit.favoritePoints.push(favPoint);
        //localStorage.setItem('favoritePoints', JSON.stringify(favoritePoints));

        favoriteEdit.prot(favPoint);
      },

      clearFavPoint: function() {
        //localStorage.removeItem('favoritePoints');
        favoriteEdit.favoritePoints = [];
        $('#favorite_edit .fav-point').each(function(){
          $(this).remove();
          //favPoint.remove();
        });
      },

      setPhoto: function() {
        console.log(photoId)
        $('#favorite_edit #photo').attr('src', photoId);
      },

      saveFavorite: function(photoId) {
        var favoritePhotoIdPoints = JSON.parse(localStorage.getItem('favorites'));
        if (!favoritePhotoIdPoints) favoritePhotoIdPoints = {};
        favoritePhotoIdPoints[photoId] = {favoritePoints: favoriteEdit.favoritePoints};
        localStorage.setItem('favorites', JSON.stringify(favoritePhotoIdPoints));

        // 次回表示用にクリアする
        favoriteEdit.favoritePoints = [];
        favoriteEdit.clearFavPoint();
        $( "#favorite_edit #photo" ).attr( "src", '');
        photoId = null;
      },
    }

    $(function(){
      $( "#favorite_edit #photo" ).bind( "tap", favoriteEdit.tapFavorite );
      $( "#favorite_edit #clear-fav" ).bind( "tap", favoriteEdit.clearFavPoint );
      $('#favorite_edit').on('pageshow', function(){
        favoriteEdit.setPhoto();
        $( "#favorite_edit #save-fav" ).bind( "tap", function(){ favoriteEdit.saveFavorite(photoId); } );
        //favoriteEdit.protFavoritePosition();
      });
    });
