#favorite_edit{'data-role': 'page'}
  %div{'data-role': 'header', 'data-add-back-btn': "true"}
    %h1 Kammy
  %div{'role': "main", class: "ui-content"}
    %img#photo{src: 'images/hairstyles/1.jpg', style:'width:100%;'}
    #divdiv{style: 'width: 100%: height: 300px;'} aaa
    -#□はお気に入りポイント
  %div{'data-role': "footer", 'data-position': 'fixed'}
    footer
