#favorite_edit{'data-role': 'page'}
  %div{'data-role': 'header', 'data-add-back-btn': "true"}
    %h1 お気に入り登録
  %div{'role': "main", class: 'ui-content'}
    %img#photo{src: 'images/hairstyles/1.jpg', class:'photo-img'}
    %p{class: 'photo-description'} 画像タップでお気に入りポイントを指定できます
    %form
      %div{class: 'ui-field-contain coise-slider'}
        %div{class: 'sliaderItem'}
          %span ボーイッシュ
          %span ガーリー
          %input{'type': 'range', 'min':'0', 'max':'2', 'step':'1', 'value':'1'}
        %div{class: 'sliaderItem'}
          %span クール
          %span カワイイ
          %input{'type': 'range', 'min':'0', 'max':'2', 'step':'1', 'value':'1'}
        %div{class: 'sliaderItem'}
          %span 知的
          %span ゆるふわ
          %input{'type': 'range', 'min':'0', 'max':'2', 'step':'1', 'value':'1'}
      %div{class:'submit-btn-box'}
        %input{'type': 'submit', 'value': '登録'}

