#favorite_edit{'data-role': 'page'}
  %div{'data-role': 'header', 'data-add-back-btn': "true"}
    %h1 Kammy
  %div{'role': "main", class: "ui-content"}
    #relative-area{style:'position:relative;height:400px;'}
      %img#photo{src: 'images/hairstyles/1.jpg', style:'width:100%;position:absolute;'}
      -# #fav-point{style:'width: 60px;height:60px;border:solid 2px red;position:absolute;'}
    %button#get-offset 座標を表示
    -#□はお気に入りポイント

  %div{'data-role': "footer", 'data-position': 'fixed'}
    footer


:javascript
  var favoritePoints = [
    { offsetTop: 0, offsetLeft: 0 },
    { offsetTop: 100, offsetLeft: 100 }
  ];

  function protFavoritePosition() {
    var favoritePoints = JSON.parse(localStorage.getItem('favoritePoints'));

    favoritePoints.forEach(function(favPoint) {
      $divObj = $("<div></div>");
      $divObj.css('width', 60);
      $divObj.css('height', 60);
      $divObj.css('border', 'solid 2px red');
      $divObj.css('position', 'absolute');
      $divObj.offset({top: favPoint.offsetTop, left: favPoint.offsetLeft});
      $("#relative-area").append($divObj);
    })
    //offsetLeft = localStorage.getItem('offsetLeft')
    //$("#fav-point").offset({top: offsetTop - 25, left: offsetLeft - 20});
    //favoritePoints = localStorage.getItem('favoritePoints')
  }

  function tapHandler( event ){
    var areaOffset = $('#photo').offset();
    var offsetTop = ((event.pageY)-(areaOffset.top));
    var offsetLeft = ((event.pageX)-(areaOffset.left));
    var favoritePoints = JSON.parse(localStorage.getItem('favoritePoints'));
    favoritePoints.push({offsetTop: offsetTop, offsetLeft: offsetLeft})
    localStorage.setItem('favoritePoints', JSON.stringify(favoritePoints));

    $divObj = $("<div></div>");
    $divObj.css('width', 60);
    $divObj.css('height', 60);
    $divObj.css('border', 'solid 2px red');
    $divObj.css('position', 'absolute');
    $divObj.offset({top: offsetTop, left: offsetLeft});
    $("#relative-area").append($divObj);
  }

  $(function(){
    $( "#photo" ).bind( "tap", tapHandler );
    var favoritePoints2 = localStorage.getItem('favoritePoints');
    if (favoritePoints2 == null) {
      localStorage.setItem('favoritePoints', JSON.stringify(favoritePoints));
    }
    protFavoritePosition();
  });
