%a{:href => "http://webservice.recruit.co.jp/"}
  %img{:alt => "ホットペッパーBeauty Webサービス", :border => "0", :height => "17", :src => "http://webservice.recruit.co.jp/banner/beauty-s.gif", :title => "ホットペッパーBeauty Webサービス", :width => "135"}/
