#ordering{'data-role': 'page'}
  %div{'data-role': 'header', 'data-add-back-btn': "true", 'data-position': 'fixed'}
    %h1 オーダー
  %div{'role': "main", class: 'ui-content'}
    .photo-items-area

    %div{"data-inset" => "false"}
      %div{"data-role" => "collapsible", 'data-collapsed' => "false"}
        %h4 希望する雰囲気
        %div{class: 'ui-field-contain coise-slider'}
          %div{class: 'sliaderItem'}
            %span ボーイッシュ
            %span ガーリー
            %input.slide1{'type': 'range', 'min':'0', 'max':'4', 'step':'1', 'value':'2', disabled: 'disabled'}
          %div{class: 'sliaderItem'}
            %span クール
            %span カワイイ
            %input.slide2{'type': 'range', 'min':'0', 'max':'4', 'step':'1', 'value':'2', disabled: 'disabled'}
          %div{class: 'sliaderItem'}
            %span 知的
            %span ゆるふわ
          %input.slide3{'type': 'range', 'min':'0', 'max':'4', 'step':'1', 'value':'2', disabled: 'disabled' }

      %div.feature{"data-role" => "collapsible", 'data-collapsed' => "false"}
        %h4 自分の特徴
        %select#frizzy-hair.flip{"data-role" => "slider", :name => "frizzy-hair", "data-theme": "e", disabled: 'disabled'}
          %option{:value => "0"} くせ毛
          %option{:value => "1"} くせ毛
        %select#diff-perm.flip{"data-role" => "slider", :name => "diff-perm", "data-theme": "e", disabled: 'disabled'}
          %option{:value => "0"} パーマかかりづらい
          %option{:value => "1"} パーマかかりづらい
        %select#spread-hair.flip{"data-role" => "slider", :name => "spread-hair", "data-theme": "e", disabled: 'disabled'}
          %option{:value => "0"} 広がりやすい
          %option{:value => "1"} 広がりやすい
            
      %div{"data-role" => "collapsible", 'data-collapsed' => "false"}
        %h4 過去の失敗
        %span.failue のばしていたので2cmくらい切ってと言ったのにショートにされてしまった

    %a{href:'#catalog', class:'ui-btn'}カタログ一覧へ
