#order_new{'data-role': 'page'}
  %div{'data-role': 'header', 'data-add-back-btn': "true", 'data-position': 'fixed'}
    %h1 オーダー作成
  %div{'role': "main", class: 'ui-content'}
    /.photo-items-area

    %form
      %div{"data-inset" => "false", "data-role" => "collapsibleset"}
        %div#atoms-area{"data-role" => "collapsible", 'data-collapsed' => "false"}
          %h4 希望する雰囲気を選択して下さい
          %div{class: 'ui-field-contain coise-slider'}
            %div{class: 'sliaderItem'}
              %span ボーイッシュ
              %span ガーリー
              %input.slide1{'type': 'range', 'min':'0', 'max':'4', 'step':'1', 'value':'2'}
            %div{class: 'sliaderItem'}
              %span クール
              %span カワイイ
              %input.slide2{'type': 'range', 'min':'0', 'max':'4', 'step':'1', 'value':'2'}
            %div{class: 'sliaderItem'}
              %span 知的
              %span ゆるふわ
            %input.slide3{'type': 'range', 'min':'0', 'max':'4', 'step':'1', 'value':'2'}
            /%a#atmos-button{href: 'javascript:void(0)', class:'ui-btn'}OK

        %div#feature-area{"data-role" => "collapsible"}
          %h4 自分の特徴
          %select#frizzy-hair{"data-role" => "slider", :name => "frizzy-hair", "data-theme": "e"}
            %option{:value => "0"} くせ毛
            %option{:value => "1"} くせ毛
          %select#diff-perm{"data-role" => "slider", :name => "diff-perm", "data-theme": "e"}
            %option{:value => "0"} パーマかかりづらい
            %option{:value => "1"} パーマかかりづらい
          %select#spread-hair{"data-role" => "slider", :name => "spread-hair", "data-theme": "e"}
            %option{:value => "0"} 広がりやすい
            %option{:value => "1"} 広がりやすい
          /%a#feature-button{href: 'javascript:void(0)', class:'ui-btn'}OK

        %div#failue-area{"data-role" => "collapsible"}
          %h4 過去の失敗
          %textarea#failue{:name => "failue", placeholder: '例）のばしていたので2cmくらい切ってと言ったのにショートにされてしまった'}

    %a#order{href:'#ordering', class:'ui-btn'}オーダーする
