#id1{'data-role': 'page'}
  %div{'data-role': 'header', 'data-add-back-btn': "true"}
    %h1 Kammy
  %div{'role': "main", class: "ui-content"}
    %div
      %img{src: "images/hairstyles/1.jpg", style: 'width:137px'}
      %img{src: "images/hairstyles/1.jpg", style: 'width:137px'}
      %img{src: "images/hairstyles/1.jpg", style: 'width:137px'}
      %img{src: "images/hairstyles/1.jpg", style: 'width:137px'}
    %a{href: "#id2", class: 'ui-btn'} go to page2
  %div{'data-role': "footer", 'data-position': 'fixed'}
    footer
